<div class="educacion">
  <h2 class="tituloseccion">Educacion</h2>
  <ul class="lista">
    <li class="lista-item">
      <img src="../../../assets/unsalogo.jpg" alt="" class="logo" />
      <p class="lugar">
        Universidad Nacional de Salta <span>(2020-2021)</span>
      </p>
      <p class="descripcion">
        Primer año de la carrera "Tecnicatura Universitaria en Programación"
      </p>
    </li>
    <li class="lista-item">
      <img src="../../../assets/logoAP.png" alt="" class="logo" />
      <p class="lugar">#SeProgramar <span>(2021)</span></p>
      <p class="descripcion">
        Primera etapa de la capacitación del plan nacional de formación en
        programación "Argentina Programa".
      </p>
    </li>
    <li class="lista-item">
      <img src="../../../assets/logoAP.png" alt="" class="logo" />
      <p class="lugar">#YoProgramo <span>(2022)</span></p>
      <p class="descripcion">
        Segunda etapa de la capacitación del plan nacional de formación en
        programación "Argentina Programa" .
      </p>
    </li>
  </ul>
</div>
