<div class="container skills">
  <h2 class="tituloseccion">Habilidades</h2>

  <div class="container-fluid">
    <h3 class="subtituloseccion">Hard Skills</h3>
    <circle-progress [percent]="90" [subtitle]="'HTML'"></circle-progress>
    <circle-progress [percent]="75" [subtitle]="'CSS'"></circle-progress>
    <circle-progress [percent]="60" [subtitle]="'JavaScipt'"></circle-progress>
    <circle-progress [percent]="70" [subtitle]="'TypeScrpt'"></circle-progress>
    <circle-progress [percent]="75" [subtitle]="'Angular'"></circle-progress>
    <circle-progress [percent]="70" [subtitle]="'MySQL'"></circle-progress>
    <circle-progress [percent]="90" [subtitle]="'GitHub'"></circle-progress>
    <circle-progress [percent]="70" [subtitle]="'SprinBoot'"></circle-progress>
    <circle-progress [percent]="60" [subtitle]="'C++'"></circle-progress>
  </div>

  <div class="container-fluid">
    <h3 class="subtituloseccion">Soft Skills</h3>
    <circle-progress
      [percent]="100"
      [subtitleFontSize]="'11'"
      [subtitle]="'Motivacion'"
    ></circle-progress>
    <circle-progress
      [percent]="80"
      [subtitleFontSize]="'11'"
      [subtitle]="'Trabajo en equipo'"
    ></circle-progress>
    <circle-progress
      [percent]="80"
      [subtitleFontSize]="'11'"
      [subtitle]="'Com. asertiva'"
    ></circle-progress>
    <circle-progress
      [percent]="100"
      [subtitleFontSize]="'11'"
      [subtitle]="'Liderazgo'"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [subtitleFontSize]="'11'"
      [subtitle]="'Adaptación'"
    ></circle-progress>
    <circle-progress
      [percent]="100"
      [subtitleFontSize]="'11'"
      [subtitle]="'Ganas de aprender'"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [subtitleFontSize]="'11'"
      [subtitle]="'Capacidad analítica'"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [subtitleFontSize]="'11'"
      [subtitle]="'Res. de problemas'"
    ></circle-progress>
  </div>
</div>
