<div class="header">
  <nav class="nav-header">
    <a href="#" class="logo">
      <img src="../../../assets/logoAP.png" alt="LogoAp" />
      <div class="texto-logo">#YoProgramo</div>
    </a>
    <ul class="menu">
      <li>
        <a href="#"
          ><img
            class="icono"
            src="../../../assets/github-circle.png"
            alt="github"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="icono"
            src="../../../assets/Face-book.png"
            alt="facebook"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img class="icono" src="../../../assets/instag.png" alt="instagram"
        /></a>
      </li>
      <li>
        <a href="#" class="boton">Login</a>
      </li>
    </ul>
  </nav>
</div>
