<div class="about" id="aboutme">
  <img src="../../../assets/perfil.jpg" alt="" class="perfil img-fluid" />
  <div class="row">
    <div class="col-12 col-md-4 nombre">
      <p class="h5">Gabriel A. Plaza</p>
      <span>FullStack Developer Jr</span>
    </div>
    <div class="col-12 col-md-8 principal">
      <h1>Sobre mi</h1>
      <p>Hola! tengo 26 años, nacido en Salta-Argentina.</p>
      <p>
        Soy una persona de rápido aprendizaje, con capacidad de resolución y
        mucho interés por el campo de la programación.
      </p>
    </div>
  </div>
</div>
