<div class="proyectos">
  <h2 class="tituloseccion">Proyectos</h2>
  <ul class="proyectos-lista">
    <li class="proyeto-item">
      <div class="card m-3" style="width: 18rem">
        <img
          src="../../../assets/proyectoporfolio.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title proyecto-titulo">MiPorfolio</h5>
          <p class="card-text proyecto-texto">
            Proyecto final de la capacitacion en programacion Argentina
            Programa.
          </p>
          <a href="#" class="boton">Ver</a>
        </div>
      </div>
    </li>

    <li class="proyeto-item">
      <div class="card m-3" style="width: 18rem">
        <img
          src="../../../assets/proyectoporfolio.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title proyecto-titulo">MiPorfolio</h5>
          <p class="card-text proyecto-texto">
            Proyecto final de la capacitacion en programacion Argentina
            Programa.
          </p>
          <a href="#" class="boton">Ver</a>
        </div>
      </div>
    </li>

    <li class="proyeto-item">
      <div class="card m-3" style="width: 18rem">
        <img
          src="../../../assets/proyectoporfolio.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title proyecto-titulo">MiPorfolio</h5>
          <p class="card-text proyecto-texto">
            Proyecto final de la capacitacion en programacion Argentina
            Programa.
          </p>
          <a href="#" class="boton">Ver</a>
        </div>
      </div>
    </li>

    <li class="proyeto-item">
      <div class="card m-3" style="width: 18rem">
        <img
          src="../../../assets/proyectoporfolio.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title proyecto-titulo">MiPorfolio</h5>
          <p class="card-text proyecto-texto">
            Proyecto final de la capacitacion en programacion Argentina
            Programa.
          </p>
          <a href="#" class="boton">Ver</a>
        </div>
      </div>
    </li>
  </ul>
</div>
